[defaults]
inventory = ./ec2.py
private_key_file = ~/.ssh/itx_rsa
remote_user = centos
host_key_checking = False

[ssh_connection]
ssh_args = -o PubKeyAuthentication=yes -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=~/.ansible/cp/ansible-ssh-%h-%p-%r
